.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fcedda;
  min-height: 100vh;
}

.profile-container .profile-box {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  width: 100%;
  background: #fcedda;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
  gap: 2rem;
}

.profile-container .profile-left,
.profile-container .profile-right {
  flex: 1;
}

.profile-container .profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container .profile-left input[type="file"] {
  margin-bottom: 1rem;
}

.profile-container .profile-left img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ee4e34;
  margin-bottom: 1rem;
}

.profile-container .btn {
  height: 40px;
  width: 100%;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #ee4e34;
}

.profile-container .btn:hover {
  background: #ee3e34;
}

.profile-container .profile-right strong {
  display: block;
  margin-top: 1rem;
  color: #000;
}

.profile-container .profile-right input[type="text"],
.profile-container .profile-right input[type="password"],
.profile-container .profile-right select {
  position: relative;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #808080;
  margin-top: 5px;
  border: 1px solid #ee4e34;
  border-radius: 6px;
  padding: 0 15px;
  background: #fcedda;
}

.profile-container .profile-right p {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.profile-container .loader-auth,
.profile-container .loader-image {
  font-size: 1rem;
  color: #000;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .profile-container .profile-box {
    flex-direction: column;
  }

  .profile-container .btn {
    width: 100%;
  }
}


/* ---------------------------------- */
/* loading efecy */
.loader-image {
  width: 64px;
  height: 64px;
  position: relative;
  background: #CADBC8; 
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
}

.loader-image:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #9C9583; 
  box-shadow: 32px -34px 0 5px #A1A499;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader-image:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #E2D4B7; 
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%, 100% {
    bottom: -35px;}
  25%, 75% {
    bottom: -2px;}
  20%, 80% {
    bottom: 2px;}
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);}
  25%, 75% {
    transform: rotate(0deg);}
  100% {
    transform: rotate(25deg);}
}